body {
	font: 0.875em/1.4em Helvetica, Arial, Tahoma, Verdana, Sans-serif;
	margin: 25px;
}

h1, h2 {
	color: #E40035;
}

h1 > .quantity {
	color: #000;
	font-size: 0.8em;
	font-weight: normal;
}

.article-bottom h3, p.h3 {
	color: #878787;
	font-size: 1.17em;
	font-weight: normal;
	margin-bottom: 0;
}

a {
	color: #0060bf;
}

hr {
	border: #ccc solid;
	border-width: 1px 0 0;
}

/* To be hidden */

#oldBrowser,
#cookie,
#go-to-the-content,
#top-mini,
#header-right,
#middle,
.history-navigation,
#social-buttons,
#download-apps-container,
#additional-container,
#footer-navigation-left,
#footer-navigation-right,
#additional-container,
.instructions,
#sidebar,
.media,
#kalendarz_wydarzen,
.banners,
#footer-info,
.boks.bledy {
	display: none;
}

ul {
	padding-left: 1em;
}

#komunikaty ul li p {
	color: #767676;
	margin-bottom: 0;
}

.polska-nauka li {
	margin: 0 0 1em;
}

#header-bottom-caption span {
	border-bottom: 1px #ccc solid;
	display: block;
	font-weight: bold;
	padding-bottom: 1em;
}

#qrcode {
	border: 1px #ccc solid;
	margin: 1em 0;
	text-align: center;
}

#copyright {
	border-top: 1px #ccc solid;
	margin-top: 1.5em;
	padding-top: 1em;
}

.author-npc a {
	font-weight: bold;
}

#navigation-top {
	clear: both;
}

#navigation-top .navigation {
	clear: both;
	padding: 0;
}

#navigation-top .navigation li {
	display: inline-block;
	font-weight: bold;
	list-style: none;
	margin: 0 1.5em 0 0;
}

#navigation-top .navigation li:before {
	color: #ccc;
	content: ' | ';
	margin: 0 1.5em 0 0;
}

#navigation-top .navigation li:first-child:before {
	display: none;
}

#navigation-top .navigation li a {
	color: #000;
	text-decoration: none;
}

#navigation-top .navigation li a br {
	display: none;
}


/* Tables */

.history-adverts {
	display: table;
}

.history-adverts > dl {
	display: table-row;
}

.history-adverts > dl > * {
	background-color: #f2f2f2;
	display: table-cell;
	padding: 0.75em;
}

.history-adverts > dl:nth-child(odd) > * {
	background-color: #fbfbfb;
}

.history-adverts > dl > dt {
	border-right: 4px #fff solid;
	font-weight: bold;
}

#zalaczniki, .zalaczniki {
	list-style-type: none;
	padding-left: 0;
}

#zalaczniki > li, .zalaczniki > li {
	margin: 0 0 0.5em;
}

#zalaczniki > li > a, .zalaczniki > li > a {
	background: url('/g/bip/front/icon-other-small.png') 0 0.25em no-repeat;
	padding-left: 20px;
	text-decoration: none;
}

.zalaczniki > li > a {
	padding-bottom: 0.2em;
	padding-top: 0.25em;
}

#zalaczniki a[href$=".pdf"], .zalaczniki a[href$=".pdf"] {
	background: url('/g/bip/front/icon-pdf-small.png') no-repeat 0 0;
}

#zalaczniki a[href$=".png"], .zalaczniki a[href$=".png"],
#zalaczniki a[href$=".jpg"], .zalaczniki a[href$=".jpg"],
#zalaczniki a[href$=".jpeg"], .zalaczniki a[href$=".jpeg"],
#zalaczniki a[href$=".gif"], .zalaczniki a[href$=".gif"],
#zalaczniki a[href$=".JPG"], .zalaczniki a[href$=".JPG"] {
	background: url('/g/bip/front/icon-picture-small.png') no-repeat 0 0;
}

#zalaczniki a[href$=".zip"], .zalaczniki a[href$=".zip"],
#zalaczniki a[href$=".rar"], .zalaczniki a[href$=".rar"] {
	background: url('/g/bip/front/icon-zip-small.png') no-repeat 0 0;
}

#zalaczniki a[href$=".xls"], .zalaczniki a[href$=".xls"],
#zalaczniki a[href$=".xlsx"], .zalaczniki a[href$=".xlsx"] {
	background: url('/g/bip/front/icon-xls-small.png') no-repeat 0 0;
}

#zalaczniki a[href$=".doc"], .zalaczniki a[href$=".doc"],
#zalaczniki a[href$=".docx"], .zalaczniki a[href$=".docx"] {
	background: url('/g/bip/front/icon-doc-small.png') no-repeat 0 0;
}

#mnisw-dane {
	position: relative;
	width: 100%;
}

#mnisw-dane:after {
	clear: both;
	content: '';
	display: block;
}

	#mnisw-dane-table {
		display: table;
		padding: 0;
	}

		#mnisw-dane-table > li {
			display: table-row;
		}

		#mnisw-dane-table > li > div {
			border-bottom: 1px #ccc solid;
			display: table-cell;
			vertical-align: middle;
			padding-bottom: 1em;
			padding-top: 1em;
		}

		#mnisw-dane-table > li > div:first-child {
			color: #77787b;
			padding-right: 1.5em;
			text-transform: uppercase;
		}

		#mnisw-dane-table > li > div.minister {
			color: #e00034;
			font-size: 1.35em;
		}

			#mnisw-dane-table > li > div.minister strong {
				display: block;
			}

			#mnisw-dane-table > li > div > p {
				margin: 0.1em 0;
			}


	#mnisw-dane-photo {

	}

	.skrzynka-podawcza {
		background: url('/g/bip/front/icon-inbox.png') no-repeat 0 0;
	}

	.inbox-text {
		background: url('/g/bip/front/icon-instructions.png') no-repeat 10px 100%;
		padding-left: 100px;
	}

		.inbox-text ul {
			margin-bottom: 0;
			padding-left: 1em;
		}

			.inbox-text ul li {
				margin: 0.55em 0;
			}

		.sub-list {
			padding: 0 0 0 1em;
		}

			.sub-list li {
					color: #747474;
					list-style: none;
					padding: 5px 0;
				}

				.sub-list li:before {
					margin-left: -10px;
					content: '- ';
				}

.table-expand {
	border-bottom: 1px #ccc solid;
}

	.table-expand > ul {
		display: table;
		padding: 0 0 0 1.5em;
	}

		.table-expand > ul > li {
			display: table-row;
		}

			.table-expand > ul > li > div {
				display: table-cell;
				vertical-align: top;
				padding: 0.25em 0;
			}

			.rada-face-photo {
				padding-right: 1em !important;
			}


				.rada-info a[href^="mailto:"] {
					background: url("/g/rgnisw/front/icon-email.png") no-repeat scroll 0 3px transparent;
					height: 13px;
					padding-left: 25px;
				}


		.table-expand p {
			margin: 0;
		}

table {
	border-collapse: separate;
	border-spacing: 1px;
	width: 100%;
	margin: 20px 0;
}

	table a {
		outline: none;
	}

	table th a {
		color: #000;
		text-decoration: none;
	}

	table td, table th {
		padding: 10px;
		text-align: center;
	}

	table thead tr {
		background-color: #ececec;
	}

	table tbody tr td {
		background-color: #f2f2f2;
	}

	table tbody tr:nth-child(odd) td {
		background-color: #fbfbfb;
	}

	table tbody tr td:first-child {
		font-weight: bold;
	}

	table tbody tr td.active,
	table thead tr th.active a {
		color: #e00034;
	}

	.table-buttons,
	.page-edit-buttons {
		padding: 0;
		margin: 0;
		text-align: center;
	}

		.table-buttons li {
			list-style: none;
			display: inline-block;
			margin: 0 3px;
		}

		.table-buttons a {
			height: 33px;
			width: 33px;
			display: block;
		}

		.table-buttons .edit {
			background: url("/g/bazaogloszen/front/icon-edit.png") no-repeat scroll 0 0 transparent;
		}

		.table-buttons .details {
			background: url("/g/bazaogloszen/front/icon-details.png") no-repeat scroll 0 0 transparent;
		}

		.table-buttons .delete {
			background: url("/g/bazaogloszen/front/icon-cancel.png") no-repeat scroll 0 0 transparent;
		}

		td.td-buttons {
			min-width: 125px;
		}

		.page-edit-buttons {
			margin: 25px 0;
		}

		.page-edit-buttons li {
			list-style: none;
			display: inline-block;
			margin: 10px 25px 10px 0;
			position: relative;
		}

		.page-edit-buttons a {
			display: block;
			background: #414141;
			color: #fff;
			padding: 0 60px 0 30px;
			line-height: 2.5em;
		}

		.page-edit-buttons span {
			position: absolute;
			height: 52px;
			width: 52px;
			right: -15px;
    		top: -8px;
		}

		.page-edit-buttons .page-edit {
			background: url("/g/bazaogloszen/front/icon-edit-big.png") no-repeat scroll right 0 transparent;
		}

		.page-edit-buttons .page-details {
			background: url("/g/bazaogloszen/front/icon-details-big.png") no-repeat scroll right 0 transparent;
		}

		.page-edit-buttons .page-delete{
			background: url("/g/bazaogloszen/front/icon-cancel-big.png") no-repeat scroll right 0 transparent;
		}

			.waiting-for-approval {
					color: #e00034;
				}
			.waiting-for-approval {
					color: #e00034;
				}

.sort {
	display: block;
	width: 13px;
	height: 7px;
	margin: 0 auto;
}

.up {
	background: url('/g/bazaogloszen/front/sorted-up.png') no-repeat 0 center transparent;
}

.down {
	background: url('/g/bazaogloszen/front/sorted-down.png') no-repeat 0 center transparent;
}

/* Artykuł "Kierownictwo" */

.kierownictwo-box {
	text-align: center;
}

	.kierownictwo-box > h2 {
		color: #000;
		font-size: 1.2em;
		margin: 2em 0 1em
	}

	.kierownictwo-box > ul {
		display: table;
		margin: 1em 0;
		padding: 0;
		width: 100%
	}
		.kierownictwo-box > ul > li {
			display: table-cell;
			padding: 0 1%;
			width: 31.333333%;
		}

/* PAGINACJA */

ul.paginacja{
	border: 0;
	margin: 3em 0;
	padding: 0;
	text-align: center;
}

ul.paginacja:after {
	display: block;
	clear: both;
	content: '';
}

.paginacja li {
	display: inline-block;
	border: 0;
	margin: 0;
	padding: 0;
	font-size: 0.733333em;
	list-style: none;
	margin: 0 1px 9px;
}
.paginacja a{
	border: 1px solid #B4B4B4;
	margin: 0 2px;
	color: #000;
}
/*.paginacja .previous-off,
.paginacja .next-off {
	color: #888888;
	display: block;
	float: left;
	font-weight: bold;
	margin-right: 2px;
	padding: 3px 4px;
}*/

.paginacja .nastepna a,
.paginacja .poprzednia a,
.paginacja .pierwsza a,
.paginacja .ostatnia a {
	color: #000;
	font-weight: bold;
}

.paginacja .poprzednia a:before {
	content: '< ';
}

.paginacja .nastepna a:after {
	content: ' >';
}

.paginacja .pierwsza a:before {
	content: '« ';
}

.paginacja .ostatnia a:after {
	content: ' »';
}

.paginacja .aktywna {
	background: #000;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	color: #FFFFFF;
	font-weight: bold;
	padding: 4px 12px;
}

.paginacja a,
.paginacja a:visited {
	display: block;
	padding: 3px 10px;
	text-decoration: none;
}

.paginacja .separator {
	margin: 0 8px;
	font-weight: bold;
}

/* WCAG */

.helper {
	display: none;
}